<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.misurapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.misurapp.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.example.misurapp.ThermometerActivity" />
        <activity android:name="com.example.misurapp.StepActivity" />
        <activity android:name="com.example.misurapp.HygrometerActivity" />
        <activity android:name="com.example.misurapp.CompassActivity" />
        <activity android:name="com.example.misurapp.BarometerActivity" />
        <activity android:name="com.example.misurapp.AltimeterActivity" />
        <activity android:name="com.example.misurapp.DatabaseCaposcout" />
        <activity android:name="com.example.misurapp.BoyscoutDBValuesActivity" />
        <activity android:name="com.example.misurapp.LightActivity" />
        <activity android:name="com.example.misurapp.ListaStrumentiActivity" />
        <activity android:name="com.example.misurapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>